{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-sm-6 offset-sm-3">
        <h2 class="text-align-center"><strong>Nuestra historia</strong></h2>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
            Tempore quisquam, nihil cumque dolores voluptatem ducimus, 
            accusamus nobis repudiandae eligendi, nisi pariatur veritatis 
            nam doloribus repellendus harum laboriosam. Nisi quisquam ea 
            natus inventore quis facere nihil, aut, voluptates ratione 
            accusantium neque fugiat soluta perspiciatis rerum id quas 
            tenetur molestiae modi architecto?
        </p>
    </div>
</div>
{% endblock %}